.git
.gitignore
node_modules
.next
.next-*
.swc-cache
*.tsbuildinfo
out
coverage
npm-debug.log*
package-lock.json
.env
.env.*
!.env.example
docs
README.md
CONTRIBUTING.md
__tests__
jest.config.ts
jest.setup.ts
Dockerfile
.dockerignore
